{% extends "base.html" %}
{% block content %}

<legend><h1>{{ question.question_text }}</h1></legend>
<h3>{{question.description_text|safe}}</h3>
<!-- <h3>{{question.description_text}}</h3> -->
{% if question.imgUrl %}
    <img src="{{ question.imgUrl }}" width="100px" height="100"/>
{% endif %}
<ul>
    {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <form action="{% url 'polls:vote' question.id %}" method="post">
        <!-- {% csrf_token %} -->
            <fieldset>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Vote">
        </form>
        <br>
    {% else %}
        <a class="login" href="{% url 'polls:login' %}">Login</a>
    {% endif %}
{% endblock %}